html {
  --color-main: #403eff;
  --color-main-lighter: #C3C2FF;
  --color-text: #333333;
  --color-text-lighter: #AAAAAA;
  --color-background: #FBFBFD;
  --font-display: 'Commissioner', sans-serif;
  --font-text: 'Commissioner', sans-serif;
}


/* PROTOCOL 3*/

/*cursor pointer protocol_3*/
#area_death{
  cursor: pointer;
}

#area_nuclear{
  cursor: pointer;
}

#SEZIONI {
  cursor:pointer;
}
