html {
  --color-main: #587ef9;
  --color-main-lighter: #C3C2FF;
  --color-text: #333333;
  --color-text-lighter: #AAAAAA;
  --color-background: #FBFBFD;
  --font-display: 'Favorit Medium', sans-serif;
  --font-text: 'Favorit Regular', sans-serif;
}

/* Load custom font face - Favorit*/
@font-face {
  font-family: 'Favorit Regular';
  src: local('☺'), url('../font/Favorit_Regular.woff') format('woff');
}

@font-face {
  font-family: 'Favorit Medium';
  src: local('☺'), url('../font/Favorit_Medium.woff') format('woff');
}

@font-face {
  font-family: 'Favorit Bold';
  src: local('☺'), url('../font/Favorit_Bold.woff') format('woff');
}

/* PROTOCOL 3*/
/*cursor pointer protocol_3*/
#on-hover>g {
  cursor: pointer;
}

#Body-on>g {
  cursor: pointer;
}

#SEZIONI-ON>g {
  cursor: pointer;
}

#SEZIONI {
  cursor: pointer;
}

#bottoni {
  cursor: pointer;
}

#Arbol_Switch {
  cursor: pointer;
}

#Pig_Switch {
  cursor: pointer;
}

#Lempuyang_Switch {
  cursor: pointer;
}

.cover .cover__title {
  font-size: 3.3rem;
  text-transform: uppercase;
  line-height: 1;
  color: #ffffff;
  font-family: 'Favorit Bold';
}

.main-text-title>h3 {
  color: #e21e6e;
}


/* si possono togliere */
.container > div > h3 {
  color: #e21e6e;
}

.footer__item > h5 {
    color: #e21e6e;
}


.footer__container div:nth-child(3){
cursor: url('./cursor.png'), auto;
}

hr {
  border: 1px solid #303BF5;
}
